/* style.css */

body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    min-height: 100vh;
    margin: 0; /* Remove default margin */
    display: flex; /* Align sections vertically */
    background-color: black;
    color: white;
    flex-direction: column;
    justify-content: stretch;
}

#header-section, #select-text-section, 
#combat-section, #footer-section {
    padding: 96px 10%;
}

#header-section, #select-text-section,
#footer-section {
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
}

#header-section {
    font-size: 36px;
    font-weight: 700;
}

#select-text-section, #footer-section {
    font-size: 24px;
    font-weight: 600;
    color: black;
    background-color: white;
}

#combat-section {
    display: flex;
    justify-content: space-between;
}

#combat-left, #combat-right,
#combat-mid-textbox {
    color: white;
    border: 4px solid white;
    border-radius: 12px;
}

#combat-left, #combat-right {
    font-size: 28px;
    font-weight: 600;
    flex-basis: 200px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.health-container {
    font-size: 18px;
    text-align: center;
    margin: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.health-bar {
    flex-basis: 50px;
    width: 200px;
    border: 4px solid white;
    display: flex;
}

.health-piece {
    border: 2px solid black;
    flex: 1;
}

#combat-last-weapon {

}

#combat-left {

}

#combat-mid {
    flex-basis: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}

#combat-mid-weapon-select {

}

#combat-mid-textbox {
    flex-basis: 300px;
}

#combat-right {
    
}

#footer-section {

}